.main {
  margin-left: 70px;
  transition: margin-left 0.235s ease-in-out;
}
#sidebar.expand ~ .main {
  margin-left: 260px;
}
#sidebar.expand ~ nav#navbar {
  margin-left: 260px;
}
@media (max-width: 768px) {
  .main {
    margin-left: 0;
  }
  #sidebar.expand ~ .main {
    margin-left: 0;
  }
  #sidebar.expand ~ nav#navbar {
    margin-left: 0;
  }
  #sidebar {
    transform: translateX(-100%);
  }
  #sidebar.expand {
    transform: translateX(0);
  }
}
.card {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  position: relative;
  padding: 1.8rem;
  border: 2px solid #e0e0e0;
  transition: 0.5s ease-out;
  overflow: visible;
}
.card-details {
  color: black;
  height: 100%;
  gap: 10px;
  display: grid;
  place-content: center;
}
.card-button {
  text-align: center;
  text-decoration: none;
  position: absolute;
  bottom: 20px;
  font-size: 1rem;
  left: 50%;
  width: calc(100% - 3.6rem);
  transform: translateX(-50%);
  padding: .5rem 1rem;
  border: none;
  background-color: #0e223e;
  color: white;
  opacity: 0;
  border-radius: 40px;
  cursor: pointer;
  transition: opacity 0.3s ease, background-color 0.3s ease;
}
.card:hover {
  border-color: #0e223e;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}